@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
@mixin ellipsis() {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal !important;
}

@mixin lineClamp($lineNum: 2) {
  display: inline-block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineNum;
}
