$minPageWidth: 1440px;
$maxPageWidth: 1920px;
$minContentWidth: 1040px;
$maxContentWidth: 1520px;
$headerHeight: 72px;
$GNBWidth: 240px;
$paddingSide: 32px;
$paddingMainSide: 80px;
$footerHeight: 72px;
$mHeaderHeight: 40px;

$fontFamily: 'Apple SD Gothic Neo', 'NotoSans', '맑은 고딕','Malgun Gothic','돋움',dotum,sans-serif;

